/*Global Styling */

html {
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        
    }
  

/*Styling for Navbar*/

nav {
   
    width:100%;
    display: flex;    /* Using flex */
    border: 2px solid black;
    justify-content: space-between;
    background-color: blue;
    z-index: 2;
    color: white;
    text-align: center;
    
}


nav ul {
    justify-content: right;
    list-style: none;
    display: flex;
    padding: 0.4rem 2rem;
    align-items: flex-end;
  
    width:100%;
}

nav li {
    padding: 0 1rem;
   
}


/*Style nav fonts and links*/
nav a, nav p {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    font-weight: bold;
}


/*change text to yellow on hover to emphasise links*/

nav a:hover {
    color:#ffec88;
}


/*Styling for about section*/
#about {
    width: 100%;
    display: flex;
 

}

#abouttext {
    display:inline;
    width:100%;
    background-color: blue;
    color: white;
    padding-bottom: 2rem;
    margin-left: 5rem;
    justify-self: center;
    border-radius: 1rem;
}


/*Styling for my name */
h1{
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    margin-top: 4rem;
    margin-left: 6rem;

}

#about h2 {
    font-size: 2rem;
    padding-top: 1rem;
    font-family: 'Roboto', sans-serif;
    margin-left: 3rem;
    padding-bottom: 1rem;
}


/*Styling for about text*/
#about p{
    font-family: 'Roboto', sans-serif;
    margin-left: 3rem;
    padding-right: 3rem;
    font-size: 1.1rem;
    width: 80%;
    
}


/*Styling for my headshot*/
#about img {
    width: 20%;
    height: 20%;
    object-fit: cover;
    object-position: 100% 10%;
    border: 5px solid blue;
    border-radius: 50%;
    position: relative;
    right: 9.5rem;
    background-color: blue;
    align-self: center;

}

/*Styling for fun fact heading*/
h3 {
     font-family: 'Roboto', sans-serif;
     font-size: 1.5rem;
     margin-left: 3rem;
     display: inline;
     padding-right: 1rem;
    
}

/*Styling for arrows to scroll through facts */
#leftarrow, #rightarrow {
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size:  20rem;
    padding-right: 0rem;
    font-weight: 800;
    
    
}
p#leftarrow, p#rightarrow {
    font-size: 1.5rem;
    padding-right: 0;
    margin-left: 0;
}

#leftarrow p{
    font-size: 10rem;
    padding-right: 0rem;
}

p#leftarrow:hover, p#rightarrow:hover {
    color: orange;
    cursor: pointer;

}

/*Styling of fact text */
#fact {
    font-style: italic;
    text-align: center;
    padding-top: 0.5rem;
}



/* styling for projects */
#projectList {  
    display: grid;  /*Using grid*/
    grid-gap: 5px;  
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, auto-fit);  
    padding: 1rem 4rem; 
}


.projectCard{
    margin: 0 1rem 0 1rem;
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    box-shadow: .2rem .2rem lightgray;
    border-radius: .4rem;

}

.projectCard h4 {
    font-size:1.5rem;
}

.projectCard p {
   display: inline;
}

     h2 {
    font-size: 2rem;
    padding-top: 1rem;
    font-family: 'Roboto', sans-serif;
    margin-left: 5rem;
    padding-bottom: 1rem;
}

#project1 {
     background-color: lightblue;
}

#project2 {
    background-color: lightgreen;

}

#project3 {
    background-color: lightcyan;
}


/* Styling for skills */

#skills ul{  
    display: grid;  /*Grid display*/
    grid-gap: 5px;  
    grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
  
    padding: 1rem 4rem; 
    align-items: center;
    justify-items: center;
  
}

#skills li{
list-style-type: none;
}

/*Footer Styling */

footer {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 2rem;
}

/*Default is to off as they are only used when screen size is too small*/
#extraContact, #extraHome {
    display: none;
}





/*Styling for Contact Page */

#contactMe h1{
    font-family: 'Roboto', sans-serif;

}

#contactMe{
    font-family: 'Roboto', sans-serif;
}

#contactMe ul{
    margin-left: 8rem;
    list-style-type: none;

}

#contactMe img{
    width: 6rem;
    height: 6rem;
    padding: 1rem 1rem;

}



#contactMe li{
    height:6rem;
    padding-bottom: 4rem;
}
.bullet {
    position: relative;
    bottom: 2.5rem;
    font-size: 1.5rem;
}
title {
    display: none;
}



/*Media changes */

/*Move headshot right when display is shrunk to avoid overlapping text*/
@media only screen and (max-width: 980px)  {
    #about img  {
  
        right: 3.5rem;
    }
}


/*Shrink name so fits on one line*/
@media only screen and (max-width: 670px)  {
    h1{
        font-size: 2rem; 
    }
}



/*reduce font on navbar */
@media only screen and (max-width: 575px)  {
    nav a, nav p  {
  
        font-size: 1rem;
    }
}

/*remove headshot when display gets too low*/
@media only screen and (max-width: 470px)  {
    #about img  {
  
        display: none;
    }
}

@media only screen and (max-width: 425px)  {

    /*remove navbar*/
    nav a, nav p  {
  
       display: none;
    }

    /*Shrink name and lower margins*/
    h1{
    margin-left: 1rem;
    font-size: 2rem; 
    }

    /*lower margin*/
    #abouttext {
        margin-left: 1rem;
    
    }


    /*Change projects from grid to block*/
    #projectList {  
        padding-left: 1rem;
        padding-right: 1rem;
        display: block;
    }

    /*Allow skills to occupy 2 lines*/
    #skills ul{  
        grid-template-rows: repeat(2, auto-fit); 
    }

    /*lower margin*/
    h2 {
        margin-left: 1rem;

    }
    
    /*add a little padding to icons */
    #skills img{
        padding-top: 1rem;
    }

    /*remove margin*/
    #contactMe ul{
        margin-left: 0;
    }

    /*add links to footer to account for the navbar being removed */
    #extraContact, #extraHome {
        display: inline;
    }
}



